---
import { css } from "@styled-system/css";

const className = css({
  textStyle: { base: "display-md", sm: "display-lg" },
  paddingBlock: "2",
  color: "foreground.on-main-accent",
});
---

<h1 class={className} {...Astro.props}>
  <slot />
</h1>
