---
import { css } from "@styled-system/css";

const className = css({
  textStyle: { base: "heading-md", sm: "display-md" },
  paddingBlock: "2",
});
---

<h3 class={className} {...Astro.props}>
  <slot />
</h3>
